@model BuscaCEP.Models.Endereco

<h2>Busca CEP</h2>

<form id="form-cep" method="post" action="@Url.Action("BuscarEnderecoPorCep", "Cep")">
    <div class="form-group row col-md-12">
            <label asp-for="Cep" class="control-label col-md-10"></label>
            

        <input asp-for="Cep" class="form-control col-md-2" maxlength="8" required />
        <input type="submit" value="Buscar" id="btnBuscar" class="btn btn-primary btn-sm" style="margin-top:-3px;" />
        <span id="loader" style="display:none;">
            <img src="~/img/loading.gif" alt="Carregando..." class="img-fluid" style="width:30px;" />
        </span>

    </div>
</form>


<div class="col-sm-7">
    <hr />
</div>


@if (Model != null)
{

    <div id="endereco">
        <h5>Endereço encontrado</h5>
        <p>
            <label style="width:120px;">
                <strong>Logradouro:</strong>
            </label> @Model.Logradouro<br />

            <label style="width:120px;">
                <strong>Bairro:</strong>
            </label> @Model.Bairro<br />

            <label style="width:120px;">
                <strong>Cidade / UF:</strong>
            </label> @Model.Localidade / @Model.Uf
        </p>
    </div>

}
else
{
    <div id="mensagem">
        <h3>
            @Html.Raw(TempData["Mensagem"])<br />
        </h3>
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#form-cep").submit(function () {
            // Exibir o ícone de carregamento
            $("#loader").show();
            // Esconder o botão
            $("#btnBuscar").replaceWith(loader);
        });
    });
</script>